[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dekuve-user/Desktop/install-debian.desktop]
row=2
col=17

[70474dea-5092-4b08-aae4-79d3ad5b6d86]
row=1
col=17

[A9F5-9D4B]
row=0
col=17

